
@model Modelo.Locacao
@{
    ViewBag.Title = "Cadastro Locação";
}

@if (TempData["Mensagem"] != null)
{   <br /><br />

    <div class="alert alert-warning" style="padding: 10px !important;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @TempData["Mensagem"]
    </div>
}

@using (Html.BeginForm("Cadastrar", "Locacao"))
{
    @Html.ValidationSummary(true)
    <br /><br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Cadastro Locações</h4>
        </div>
        <div class="panel-body">
            <div hidden>
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id)
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @maxlength = "14" } })
                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="DtaLocacao">Data de locação</label>
                    @Html.EditorFor(model => model.DtaLocacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DtaLocacao, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Filme, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="row">
                <ul class="list-group">
                    @{
                        if (ViewBag.Filme != null)
                        {
                            foreach (var filme in ViewBag.Filme)
                            {
                                <li class="list-group-item"><input type="checkbox" name="FilmeId" value="@filme.Id" style="float:left" /> @filme.Nome </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Cadastrar" class="btn btn-danger">
            <input type="submit" value="Voltar" class="btn btn-primary" onClick="javascript: history.back(-1);">
        </div>
    </div>
}
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
